<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    title Health Tracker
    link(rel="stylesheet", href="assets/css/tools/normalize.css")
    link(rel="stylesheet" href="assets/css/main.css")
body
    header
        h1 HEALTH TRACKER
    .sections-container
        
        section.search-container
            label Type your search here
                input.#search-form(type="search")
                
                style.
                .error { border-color: red; }
                | Введите ваш возраст: 
                input#input.testClass(type='text')
                // Введите ваш возраст: <input type="text" id="input2">
#error

                
            .search-results
        
        section.ration-container
            .ration-dates-box
                h2 Current date: 26/04/2016
            .ration-data-box
            
       
    
    
    
    
    
    
    
    
    
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="assets/js/models.js")
    script(src="assets/js/views.js")
    script(src="assets/js/router.js")
    script(src="assets/js/app.js")